
<div class="w-9/12 mx-auto my-9">


   <form [formGroup]="verifyCode" (ngSubmit)="codeSubmit()">


       <div class="mb-3">
            <label for="code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Code : </label>
            <input type="text" name="code" id="code" class="bg-gray-50 border w-full border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
       </div> 

       @if(verifyCode.get('code')?.errors && verifyCode.get('code')?.touched){
           @if(verifyCode.get('code')?.getError('required')){
               <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                   <span class="font-medium">Code alert!</span> Email is Required
               </div>
           }
           @else if(verifyCode.get('code')?.getError('code')){
               <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                   <span class="font-medium">Code alert!</span> Please enter a valid Code
               </div>
           }
       }

       
       <button type="submit" [disabled]="verifyCode.invalid" class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="button">
        Verify Code
      </button>
   </form>
</div>