
<div class="w-9/12 mx-auto my-9">


   <form [formGroup]="resetPassForm" (ngSubmit)=" resetSubmit()">


       <div class="mb-3">
           <label class="block mb-2 text-sm font-medium text-green-900 dark:text-white">Email : </label>
           <input formControlName="email" type="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />
       </div> 

       @if(resetPassForm.get('email')?.errors && resetPassForm.get('email')?.touched){
           @if(resetPassForm.get('email')?.getError('required')){
               <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                   <span class="font-medium">Email alert!</span> Email is Required
               </div>
           }
           @else if(resetPassForm.get('email')?.getError('email')){
               <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                   <span class="font-medium">email alert!</span> Please enter a valid Email 
               </div>
           }
       }

       <div class="mb-3">
           <label class="block mb-2 text-sm font-medium text-green-900 dark:text-white">New Password : </label>
           <input formControlName="password" type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />
       </div> 

       @if(resetPassForm.get('password')?.errors && resetPassForm.get('password')?.touched){
           @if(resetPassForm.get('password')?.getError('required')){
               <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                   <span class="font-medium">Password alert!</span> Password is Required
               </div>
           }
           @else if(resetPassForm.get('password')?.getError('pattern')){
               <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                   <span class="font-medium">Password alert!</span> Please enter a valid Password 
               </div>
           }
       }

       <button [disabled]="resetPassForm.invalid" type="submit" class="btn-green disabled:bg-green-400">Reset Password 
       </button>
   </form>
</div>

