


<div class="w-9/12 mx-auto my-9">

     @if( errorMessage.length > 0 ){
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <span class="font-medium">{{errorMessage}}</span> 
        </div>
     }
   

    <form [formGroup]="registerForm" (ngSubmit)="RegisterSubmit()">
        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-green-900 dark:text-white">Name : </label>
            <input formControlName="name" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />
        </div> 

        @if(registerForm.get('name')?.errors && registerForm.get('name')?.touched){
            @if(registerForm.get('name')?.getError('required')){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium">Name alert!</span> Name is Required
                </div>
            }
            @else if(registerForm.get('name')?.getError('minlength')){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium">Name alert!</span> Chars number should be more than or equal 3 
                </div>
            }
            @else if(registerForm.get('name')?.getError('maxlength')){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium">Name alert!</span> Chars number should be less than or equal 20 
                </div>
            }
        }

        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-green-900 dark:text-white">Email : </label>
            <input formControlName="email" type="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />
        </div> 

        @if(registerForm.get('email')?.errors && registerForm.get('email')?.touched){
            @if(registerForm.get('email')?.getError('required')){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium">Email alert!</span> Email is Required
                </div>
            }
            @else if(registerForm.get('email')?.getError('email')){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium">email alert!</span> Please enter a valid Email 
                </div>
            }
        }

        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-green-900 dark:text-white">Password : </label>
            <input formControlName="password" type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />
        </div> 

        @if(registerForm.get('password')?.errors && registerForm.get('password')?.touched){
            @if(registerForm.get('password')?.getError('required')){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium">Password alert!</span> Password is Required
                </div>
            }
            @else if(registerForm.get('password')?.getError('pattern')){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium">Password alert!</span> Please enter a valid Password 
                </div>
            }
        }

        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-green-900 dark:text-white">Re-Password : </label>
            <input formControlName="rePassword" type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />
        </div> 

        @if(registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched){
            @if(registerForm.get('rePassword')?.getError('required')){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium">rePassword alert!</span> rePassword is Required
                </div>
            }
            @else if(registerForm.get('rePassword')?.getError('pattern')){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium">rePassword alert!</span> Please enter a valid rePassword 
                </div>
            }
        }

        @if(registerForm.errors && registerForm.touched && registerForm.get('rePassword')?.touched){
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium">Password & rePassword not matched!</span> 
            </div>
        }

        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-green-900 dark:text-white">Phone : </label>
            <input formControlName="phone" type="tel" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />
        </div> 

        @if(registerForm.get('phone')?.errors && registerForm.get('phone')?.touched){
            @if(registerForm.get('phone')?.getError('required')){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium">Phone alert!</span> Phone is Required
                </div>
            }
            @else if(registerForm.get('phone')?.getError('pattern')){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium">Phone alert!</span> Please enter a valid Phone 
                </div>
            }
        }

        <button [disabled]="registerForm.invalid" type="submit" class="btn-green disabled:bg-green-400">Register 
             @if(isLoading){
                <i class="fa-solid fa-spinner fa-spin"></i>
             }   
        
        </button>

    </form>
</div>